<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rule name="rule 1l" stopProcessing="true">
				<match url="^sso-server/index.php$" />
				<action type="Rewrite" url="sso-server/index.php"  />
			</rule>
			<rule name="rule 2l" stopProcessing="true">
				<match url="^sso-server/?$" />
				<action type="Rewrite" url="sso-server/index.php"  />
			</rule>
			<rule name="rule 3l" stopProcessing="true">
				<match url="^login(\/?)$" />
				<action type="Rewrite" url="./index.php?module=login&amp;action=dispLoginPage&amp;%{QUERY_STRING}"  appendQueryString="true" />
			</rule>
			<rule name="rule 4l" stopProcessing="true">
				<match url="^([0-9]+).*$" />
				<action type="Rewrite" url="./index.php?module=board&amp;action=dispArticle&amp;article_no={R:1}&amp;%{QUERY_STRING}"  appendQueryString="true" />
			</rule>
			<rule name="rule 5l" stopProcessing="true">
				<match url="^([a-zA-Z0-9-_]+)/?$"  />
				<action type="Rewrite" url="./index.php?menu={R:1}&amp;%{QUERY_STRING}"  appendQueryString="true" />
			</rule>
			<rule name="rule 6l" stopProcessing="true">
				<match url="^(.+)/(.+)\.php$" />
				<action type="Rewrite" url="-" />
			</rule>
			<rule name="rule 7l" stopProcessing="true">
				<match url="^cache/(.+)\.php$" />
				<action type="Rewrite" url="-"  />
			</rule>
			<rule name="rule 8l" stopProcessing="true">
				<match url="^(modules)/(.+)/info.json$"  />
				<action type="Rewrite" url="-" />
			</rule>
			<rule name="rule 9l" stopProcessing="true">
				<match url="^(modules)/(.+)/template/(.+)\.html$"  />
				<action type="Rewrite" url="-" />
			</rule>
			<rule name="rule 10l" stopProcessing="true">
				<match url="^(layouts)/(.+)\.html$"  />
				<action type="Rewrite" url="-"  />
			</rule>
			<rule name="rule 11l" stopProcessing="true">
				<match url="^files/pmc_error.log$"  />
				<action type="Rewrite" url="-" />
			</rule>
		</rewrite>
	</system.webServer>
</configuration>