<import path="./stylesheet.css">

<div id="welcome" class="clearfix">
	<div class="fl">
		<img src="./img/circle.png" width="450" height="250">
	</div>
	<div id="welcome-text" class="fl">
		<div id="welcome-title">
			{#
				'en'=>'Thank you for install "engine pmc"',
				'kr'=>'"engine pmc" 를 설치 해 주셔서 감사합니다.'
			}
		</div>
		<div id="welcome-description">
			{#
				'en'=>'"engine pmc" is the MVC core that make easy developing of the website, maintenance, joint work',
				'kr'=>'"engine pmc" 는 웹사이트의 개발속도, 유지보수, 공동 작업등을 쉽게 해 주는 모듈 기반의 MVC 코어입니다.'
			}
		</div>
	</div>
</div>
<div>
	{@ var_dump2($user); }
</div>

<div>
	<condition do="$loggedin">
		<a href="{getUrl('login', 'procLogout')}">{# 'en'=>'Sign out', 'kr'=>'로그아웃'}</a>
	</condition>
	<condition do="!$loggedin">
		<a href="{@ echo LOGIN_URL }">{# 'en'=>'Sign in', 'kr'=>'로그인'}</a>
	</condition>
</div>