<import path="./js/popup.js" />
<import path="./css/popup.css" />

<script type="text/javascript">
// <![CDATA[
	window.onload = function() {
		var _opener = PopupUtil.getOpener();
		if (!_opener) {
			alert('잘못된 경로로 접근하셨습니다.');
			return;
		}
		var _attacher = getAttacher('image', _opener);
		registerAction(_attacher);
	}

	function checkFile() {
		var form = document.forms.form1;

		if (!form.bifile.value) {
			alert("{# 'en' => 'Select a file', 'ko' => '피일을 선택 해 주세요'}");
			return false;
		}
		
		if (form.bifile.files[0].size > {$FILE_MAX_SIZE} ) {
			{@ $clearedMaxFileSize = getClearFileSize($FILE_MAX_SIZE); } 
			alert("{# 'en' => 'Cannot upload file whose size is upper than '.$clearedMaxFileSize, 'ko' => $clearedMaxFileSize.'를 초과하는 파일은 업로드 할 수 없습니다'}");
			return false;
		}
		
		form1.submit();
	}
// ]]>
</script>
<div class="wrapper">
	<form name="form1" enctype="multipart/form-data" action="{getUrl('editor', 'procImageUpload')}" method="post">
		<div class="header">
			<h1>사진 첨부</h1>
		</div>
		<div class="body">
			<div class="input-file-wrap">
				<input type="file" name="bifile" class="input" accept="image/*">
			</div>
		</div>
		<div class="footer">
			<p><a href="#" onclick="closeWindow();" title="닫기" class="close">닫기</a></p>
			<ul>
				<li class="submit"><a href="#" onclick="checkFile();" title="등록" class="btnlink">등록</a> </li>
				<li class="cancel"><a href="#" onclick="closeWindow();" title="취소" class="btnlink">취소</a></li>
			</ul>
		</div>
	</form>
</div>