<import path="css/editor.css">
<import path="/static/js/json2.js">
<import path="js/editor_loader.js">

<div class="body">
	<form name="tx_editor_form" id="tx_editor_form" action="{$callbackUrl}" method="post" accept-charset="utf-8">
		{@
			if (isset($formInnerData))
				if (is_array($formInnerData)) :
					if ($formInnerData['module'] && $formInnerData['action'])
						getContent($formInnerData['module'], $formInnerData['action']);
					else
						getContent($formInnerData[0], $formInnerData[1]);
				else :
					echo $formInnerData;
					getContent('editor', 'formInnerData');
				endif;
			else
				getContent('editor', 'formInnerData');
		}
		
	</form>
</div>

<div style="text-align:center">
	<button onclick='Editor.save()' class="save-btn">{# 'en'=>'Save', 'kr'=>'저장' }</button>
</div>

<script type="text/javascript">
	var config = {
		txHost: '',
		txPath: '',
		initializedId: "",
		wrapper: "tx_trex_container",
		form: 'tx_editor_form',
		txIconPath: "{getRealUrl('editor')}/template/images/icon/editor/",
		txDecoPath: "{getRealUrl('editor')}/template/images/deco/contents/",
		tx_attach_max_size:10,
		canvas: {
			styles: {
				color: "#333333",
				fontFamily: "굴림",
				fontSize: "10pt",
				backgroundColor: "#fff",
				lineHeight: "1.5",
				padding: "8px"
			},
			showGuideArea: false
		},
		events: {
			preventUnload: false
		},
		sidebar: {
			attachbox: {
				show: true,
				confirmForDeleteAll: true
			},
			attacher: {
				image: {
					features: {
						left:50,
						top:65,
						width:397,
						height:444
					}
				},
				file: {
				}
			},
			capacity: {
				maximum: 30 * 1024 * 1024 // 30 MB
			}
		},
		size: {
			contentWidth: 700 /* 지정된 본문영역의 넓이가 있을 경우에 설정 */
		}
	};

	var editor;

	EditorJSLoader.ready(function(Editor) {
		editor = new Editor(config);
	});	

	function validForm(editor) {
		var validator = new Trex.Validator();
		var content = editor.getContent();
		if (!validator.exists(content)) {
			alert('내용을 입력하세요');
			return false;
		}

		return true;
	}

	function setForm(editor) {
		var i, input;
		var form = editor.getForm();
		var content = editor.getContent();

		// 본문 내용을 필드를 생성하여 값을 할당하는 부분
		var textarea = document.createElement('textarea');
		textarea.name = 'content';
		textarea.value = content;
		form.createField(textarea);

		var files = Editor.getSidebar().getAttachments("file");
		var fileData = [];
		for (i = 0; i < files.length; i++) {
			if (files[i].deletedMark) continue;

			fileData.push({
				"id" : files[i].data.fileId,
				"name" : files[i].data.filename
			});
		}
		input = document.createElement('input');
		input.type = 'hidden';
		input.name = 'attach_files';
		input.value = JSON.stringify(fileData);

		form.createField(input);
		return true;
	}

	var attachers = [];

	function appendImage(imageUrl, fileName, fileSize) {
		checkDeletedFiles();
		attachers.push({
			'attacher': 'image',
			'data': {
				'imageurl': imageUrl,
				'filename': fileName,
				'filesize': fileSize
			}
		});
		Editor.modify({
			"attachments": attachers,
			"content": Editor.getContent() + "<img src=\""+imageUrl+"\">"
		});
	}
	function appendFile(attachurl, fileName, fileSize, filemime, fileId) {
		checkDeletedFiles();
		attachers.push({
			'attacher': 'file',
			'data': {
				'attachurl': attachurl,
				'filename': fileName,
				'filesize': fileSize,
				'filemime': filemime,
				'fileId': fileId
			}
		});
		Editor.modify({
			"attachments": attachers
		});
	}

	function checkDeletedFiles() {
		var files = Editor.getSidebar().getAttachments("file");
		for (i = 0; i < files.length; i++) {
			if (files[i].deletedMark) {
				for (var j=0; j<attachers.length; j++) {
					if (files[i].data.fileId == attachers[j].data.fileId) {
						attachers.splice(j, 1);
					} 
				}
				
			}
		}
	}

	</script>