@charset "utf-8";

input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url],
textarea {
	background: #fff;
	margin:1px 2px;
	padding:3px 5px;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	border-radius: 1px;
	
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
input[type=email]:hover,
input[type=number]:hover,
input[type=password]:hover,
input[type=tel]:hover,
input[type=text]:hover,
input[type=url]:hover,
textarea:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
textarea:focus {
	outline: none;
	border: 1px solid #999;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

input[type=email].disabled,
input[type=number].disabled,
input[type=password].disabled,
input[type=tel].disabled,
input[type=text].disabled,
input[type=url].disabled,
textarea.disabled,
input[type=email]:disabled,
input[type=number]:disabled,
input[type=password]:disabled,
input[type=tel]:disabled,
input[type=text]:disabled,
input[type=url]:disabled,
textarea:disabled{
	background:#F3F3F3 !important;
	border-color:#CCC !important;
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.1) !important;
}