<import path="css/login_form.css">
<import path="/static/js/encryption/rsa.js">
<import path="/static/js/encryption/md5.js">
<import path="js/login.js">
<script type="text/javascript">
	var rsaKeys = {
		publicKey:"{$rsaKeys->publicKey}",
		modulus:"{$rsaKeys->modulus}"
	}
</script>


<div id="login-wrap">
	<form name="login_form" method="post" action="/?module=login&action=procSecureLogin" onsubmit="return procLogin()">
		<input type="hidden" name="enc_id">
		<input type="hidden" name="enc_pw">
		<input type="hidden" name="check_sum">
		<input type="hidden" name="next" value="{$next}">
		<div id="login-title">
			로그인
		</div>
		<div id="input-wrap">
			<div class="input-warp-content">
				<condition targetie="lte IE 9">
					<span class="ie-alternative-label">아이디</span>
				</condition>
				<input name="id" type="text" placeholder="아이디">
			</div>
			<div class="input-warp-content">
				<condition targetie="lte IE 9">
					<span class="ie-alternative-label">비밀번호</span>
				</condition>
				<input name="pw" type="password" placeholder="비밀번호">
			</div>
		</div>
		<div id="submit-wrap">
			<div id="sl-wrap">
				<input type="checkbox" name="auto_login" checked="checked">
				<label for="auto_login">로그인 상태 유지</label>
				
				<input type="checkbox" name="secure_login" checked="checked" onclick="toggleSecureLogin(this)">
				<label for="secure_login">보안 로그인</label>
			</div>
			<div class="clearfix">
				<div id="submit-btn-wrap" class="fr">
					<button onclick="return procLogin()">로그인</button>
				</div>
			</div>
		</div>
	</form>
</div>
<condition do="$errorType">
	<div id="error-message">
		<condition do="$errorType == 'fail'">
			<div class="bold">올바르지 않은 아이디 또는 비밀번호입니다.</div>
			<div>등록되지 않은 아이디이거나, 아이디 또는 비밀번호를 잘못 입력하셨습니다.</div>
		</condition>
		<condition do="$errorType == 'fail_sec'">
			<div class="bold">보안로그인에 오류가 발생했습니다.</div>
			<div>자주 이 메시지가 발생하는 경우에는 "보안로그인"을 해제 한 후 로그인 해 주십시오.</div>
		</condition>
	</div>
</condition>