@charset "utf-8";

body{
	margin:0;
	padding:0;
	
	font-size: 1em;
	font-family:나눔고딕,NanumGothic,돋움,Dotum,AppleGothic,Arial,Helvetica,sans-serif;
	
	background-color:#fcfcfc;
}
#wrap{ width:100%; }
#wrap #header #logo{ padding: 20px 0 10px 0; text-align: center; }
#wrap #header #logo a{ display: inline-block; }

#header #gnb{
	width:100%;
	padding:0;
	
	background-color:#f9f9f9;
	background-image:linear-gradient(#f9f9f9, #f3f3f3);
	
	text-align: center;
	border-top:1px solid #f0f0f0;
	border-bottom:1px solid #f0f0f0;
}

#header #gnb ul{
	list-style:none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

#header #gnb ul li{
	margin:8px 20px;
	padding:0;
	
	font-size:14px;
	float:left;
}

#header #gnb ul li.selected a{
	color:#06C !important;
	font-weight:bold;
}

#wrap #content{
	margin:10px 0;
}

#footer{
	background-color:#f8f8f8;
	border-top: 1px solid #ddd;
	padding: 20px 0 80px 0;
	margin-top: 20px;
	font-size: 0.8em;
	text-align: center;
	color: #666;
}
#footer #footer-content{
	padding-bottom: 13px;
}

#footer #footer-content span{
	color: #666;
	background-color: white;
	background: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f3f3f3));

	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 4px 8px;
	margin: 0 3px;
}

#footer #footer-content a{ color: #666; text-decoration: none; }

#footer #footer-content span.selected-locale{
	font-weight:bold;
}