<import path="css/article.css">
<import path="js/article.js">

<div class="article">
	<div class="article-header clearfix">
		<div class="ah-top clearfix">
			<div class="title">
				{$title}
			</div>
			<div class="current-board">
				{$board}
			</div>
			<div class="upload-time fr">
				{$upload_time}
			</div>
		</div>
		<div class="ah-bottom">
			<div class="writer fl">
				{$writer}
			</div>
			<div class="url fr">
				<a href="{$url}">
					{$url}
				</a>
			</div>
		</div>
	</div>
	<div class="article-content">
		{$content}
	</div>
	
	<condition do="count($fileDatas)>0">
		<div class="article-file">
			<ul>
				{@ foreach ($fileDatas as $key => $file) : }
					<li>
						<span class="file-icon"></span>
						<a href="/{@ echo USE_SHORT_URL ? 'files/attach/' : '?module=file&action=procDownloadFile&file='; }{$file->file_hash}">
							{$file->file_name}&nbsp;({getClearFileSize($file->file_size)})
						</a>
					</li>
				{@ endforeach; }
			</ul>
		</div>
	</condition>

	<div class="article-buttons clearfix">
		<div id="comment-label" class="fl">덧글 {count($commentDatas)}개</div>
		<div class="fl">조회수&nbsp;{$hits+1}</div>
		
		<condition do="User::getCurrent()->id == $writer_id || $isBoardAdmin">
			<div class="fr left-bar">
				<a href="{getUrl('board', 'procDeleteArticle', 'article_no='.$articleNo)}" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a>
			</div>
		</condition>

		<condition do="User::getCurrent()->id == $writer_id">
			<div class="fr left-bar">
				<a href="{getUrl('board', 'dispEditor', 'article_no='.$articleNo)}">수정</a>
			</div>
		</condition>

		<div class="fr">
			<a href="{getUrl('board', 'dispEditor', 'parent_no='.$articleNo)}">답글</a>
		</div>
	</div>

	<div class="article-comment-wrap">
		<ul id="comment-list">
			{@ $i = 0; }
			{@ foreach($commentDatas as $key => $comment) : }
				<li id="comment{$i}"{@ if ($comment->is_reply) echo ' class="comment-reply"'; }>
					<input type="hidden" id="comment{$i}-top-id" name="top_id" value="{$comment->top_id}"> /* 답글 작성시 사용 */

					<div class="comment-header clearfix">
						<div class="comment-writer fl">{$comment->writer}</div>
						<div class="comment-write-time fl" title="{$comment->write_time}">{getRelativeTime($comment->write_time)}</div>
						
						<condition do="User::getCurrent()->id == $comment->writer_id || $isBoardAdmin">
							<div class="comment-delete-btn fr">
								<a href="{getUrl('board', 'procDeleteComment', 'comment_id='.$comment->id)}" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a>
							</div>
						</condition>

						<condition do="User::getCurrent()->id == $comment->writer_id">
							<div class="comment-update-btn fr">
								<a href="#" id="comment{$i}-update-a" onclick="toggleUpdateComment({$i}); return false;">수정</a>
							</div>
						</condition>

						<div class="comment-reply-btn fr">
							<a href="#" id="comment{$i}-reply-a" onclick="toggleReplyComment({$i}, {$comment->id}); return false;">답글</a>
						</div>

					</div>
					<div id="comment{$i}-content" class="comment-content">
						<condition do="$comment->parent_writer">
							<span class="parent-writer">{$comment->parent_writer}</span>
						</condition>
						{$comment->content}
					</div>
					
					<condition do="User::getCurrent()->id == $comment->writer_id">
						<div id="modify-comment{$i}-wrap" class="modify-comment-wrap clearfix">
							<form action="{getUrl('board', 'procUpdateComment', 'comment_id='.$comment->id)}" method="post">
								<input type="hidden" name="comment_id" value="{$comment->id}">

								<div class="fl">
									<textarea name="comment"{@ if ($comment->is_reply) echo ' class="reply"'; }>{$comment->content}</textarea>
								</div>
								<div class="fl">
									<button class="comment-btn" onclick="this.form.submit(); return false;">
										<condition do="$comment->is_reply">
											답글수정
										<else>
											덧글수정
										</condition>
									</button>
								</div>
							</form>
						</div>
					</condition>
				</li>
			{@ $i++; endforeach; }
		</ul>
		<div id="reply-comment-wrap-ex">
			<form action="{getUrl('board', 'procWriteComment')}" method="post">
				<input type="hidden" name="article_no" value="{$articleNo}">
				<input id="reply-parent-id" type="hidden" name="parent_id">
				<input id="reply-top-id" type="hidden" name="top_id">

				<div class="fl">
					<textarea name="comment" class="reply" placeholder="답글을 입력하세요"></textarea>
				</div>
				<div class="fl">
					<button class="comment-btn" onclick="this.form.submit(); return false;">답글달기</button>
				</div>
			</form>
		</div>

		<div id="write-comment-wrap" class="clearfix">
			<form action="{getUrl('board', 'procWriteComment')}" method="post">
				<input type="hidden" name="article_no" value="{$articleNo}">
				<div class="fl">
					<condition do="User::getCurrent()">
						<condition do="$commentable">
							<textarea name="comment" placeholder="덧글을 입력하세요"></textarea>
						<else>
							<textarea name="comment" placeholder="덧글을 쓸 권한이 없습니다" class="disabled" disabled></textarea>
						</condition>
					<else>
						<textarea name="comment" placeholder="로그인한 유저만 댓글을 남길 수 있습니다" class="disabled" disabled></textarea>
					</condition>
				</div>
				<div class="fr">
					<button class="comment-btn" onclick="if (this.form.comment.value == '') { alert('덧글을 입력 해 주세요'); return false; } this.form.submit(); return false;">덧글달기</button>
				</div>
			</form>
		</div>
	</div>
</div>