<import path="css/board_list.less">
<import path="js/board_list.js">

<div class="board">
	<div id="category-selector">
		<ul>
			<li>
				<a href="{getUrlA(array('category' => NULL), getCurrentUrl())}">
					{#
						'en' => 'Show All',
						'ko' => '전체보기'
					}
				</a>
			</li>
			<condition do="$categorys">
				{@ foreach ($categorys as $key => $category) : }
					<li>
						<a href="{getUrlA('category='.$category, getCurrentUrl())}">{$category}</a>
					</li>
				{@ endforeach; }
			</condition>
		</ul>
	</div>

	<div class="board-article">
		<ul class="first-line">
			<li class="select-category">
				<a href="#" onclick="toggleCategorySelector(); return false;">
					<span>
						<condition do="isset($_GET['category']) && $_GET['category']">
							<true>
								{$_GET['category']}
							</true>
							<false>
								{# 'en'=>'Category', 'ko'=>'말머리 선택'}
							</false>
						</condition>
					</span>
					<button class="select-category-btn">
						<span class="hidden">&nabla;</span>
					</button>
				</a>
			</li>
			<li class="title">{# 'en'=>'Title', 'ko'=>'제목'}</li>
			<li class="writer">{# 'en'=>'Writer', 'ko'=>'작성자'}</li>
			<li class="date">{# 'en'=>'Uploaded time', 'ko'=>'작성일'}</li>
			<li class="hits">{# 'en'=>'Hits', 'ko'=>'조회수'}</li>
		</ul>
		{@ foreach ($articleDatas as $key => $data): }
			<ul class="{@ echo isset($data->top_notice) ? 'notice' : 'article' }">
				<li class="title">
					<condition do="isset($data->top_notice)">
						<span class="notice-icon">{# 'en'=>'Notice', 'ko'=>'공지'}</span>
					</condition>

					<condition do="!isset($data->top_notice)">
						{printArticlePrefix($data->order_key, $data->category)}
					</condition>
					
					{@ if ($data->is_delete) : }
						<i>{# 'en'=>'Original article deleted', 'ko'=>'원글이 사라진 답글입니다'}</i>
					{@ elseif ($data->is_secret && !$data->secret_visible && !$data->is_notice) : }
						<i>{# 'en'=>'Secret Article', 'ko'=>'비밀글입니다'}</i>
					{@ else : }
						<condition do="$data->is_secret && !$data->is_notice">
							<span class="secret-icon" title="{# 'en'=>'Secret Article', 'ko'=>'비밀글'}"></span>
						</condition>
						<a href="/{@ if (!USE_SHORT_URL) echo '?module=board&action=dispArticle&article_no='; }{$data->no}">
							{$data->title}
						</a>
						<span class="comment-counts">[<strong>{$data->comment_counts}</strong>]</span>
						<condition do="$data->file_counts">
							<span class="file-icon" title="파일"></span>
						</condition>
					{@ endif; }
				</li>
				<condition do="!$data->is_delete">
					<li class="writer">{$data->writer}</li>
					<li class="date">{$data->upload_time2}</li>
					<li class="hits">{$data->hits}</li>
				</condition>
			</ul>
		{@ endforeach; }
		<condition do="!$articleDatas || count($articleDatas) == 0">
			<div class="no-article">
				<condition do="!empty($_GET['search'])">
					<true>
						{#
							'en'=>'There is no searched result',
							'ko'=>'검색 결과가 없습니다'
						}
					</true>
					<false>
						{#
							'en'=>'There is no article',
							'ko'=>'등록된 게시글이 없습니다'
						}
					</false>
				</condition>
			</div>
		</condition>
	</div>
	<div class="page-numbers">
		<condition do="$pageNumbers->prevBtn !== NULL">
			<div class="prev-btn">
				<a href="{getUrlA('page='.$pageNumbers->prevBtn, REAL_URL)}">
					&#9664;
				</a>
			</div>
		</condition>
		
		<ul class="page-btns">
		{@ foreach ($pageNumbers->pages as $key => $n): }
			<condition do="$n == $nowPage">
				<true>
					<li class="current-page">
						{$n}
					</li>
				</true>
				<false>
					<li>
						<a href="{getUrlA('page='.$n, REAL_URL)}">{$n}</a>
					</li>
				</false>
			</condition>
		{@ endforeach; }
		</ul>

		<condition do="$pageNumbers->nextBtn !== NULL">
			<div class="next-btn">
				<a href="{getUrlA('page='.$pageNumbers->nextBtn, REAL_URL)}">
					&#9654;
				</a>
			</div>
		</condition>

		<div class="board-btn">
			<a href="{getUrl('board', 'dispEditor', 'board_name='.$boardName)}">
				{#'en'=>'Post Article','ko'=>'글쓰기'}
			</a>
		</div>
	</div>

	<div class="search-box">
		<form method="GET">
			{@ foreach($_GET as $key => $value): }
				<input type="hidden" name="{$key}" value="{htmlspecialchars($value)}">
			{@ endforeach;}
			<select name="search_type">
				<option value="all"{@ if ($_GET['search_type'] == 'all') echo ' selected'; }>
					{#
						'en'=>'Title + Content',
						'ko'=>'제목 + 내용'
					}
				</option>
				<option value="title"{@ if ($_GET['search_type'] == 'title') echo ' selected'; }>
					{#
						'en'=>'Title',
						'ko'=>'제목'
					}
				</option>
				<option value="writer"{@ if ($_GET['search_type'] == 'writer') echo ' selected'; }>
					{#
						'en'=>'Writer',
						'ko'=>'글작성자'
					}
				</option>
			</select>
			<input name="search" class="search-text" type="text"{@ if (!empty($_GET['search'])) echo ' value="'.htmlspecialchars($_GET['search']).'"'; }>
			<input class="search-submit" type="submit" value="{#'en'=>'Search','ko'=>'검색'}">
		</form>
	</div>
</div>