<import path="css/editor_inner_data.css">

<input type="hidden" name="parent_no" value="{$_GET['parent_no']}">

<div id="board-top-container" class="clearfix">
	<div class="fl">
		<select id="board-selector" name="board_id">
			{@ foreach ($boardLists as $key => $value) : }
				<option value="{$value->id}"{@ if ($value->name == $boardName) echo ' selected="selected"';}>
					{$value->name_locale}
				</option>
			{@ endforeach; }
		</select>
	</div>
	<div class="fl">
		<input type="text" id="board-title" name="title"{@ if (isset($title)) echo ' value="'.$title.'"'; } />
	</div>
</div>

{getContent('editor', 'dispFormInnerData')}

<div id="board-bottom-container" class="clearfix">
	<ul>
		<li class="fl">
			<input type="checkbox" name="is_secret" checked="checked">
			<label for ="is_secret">비밀글</label>
		</li>
		<li class="fl">
			<input type="checkbox" name="is_notice">
			<label for ="is_notice">공지</label>
		</li>
		<li class="fl">
			<input type="checkbox" name="allow_comment" checked="checked">
			<label for ="allow_comment">덧글허용</label>
		</li>
	</ul>
</div>