<import path="css/editor_inner_data.css">

<input type="hidden" name="article_no" value="{$_GET['article_no']}">

<div id="board-top-container" class="clearfix">
	<div class="fl">
		<select id="board-selector" name="board_id">
			{@ foreach ($boardLists as $key => $value) : }
				<option value="{$value->id}"{@ if ($value->id == $articleData->board_id) echo ' selected="selected"';}>
					{$value->name_locale}
				</option>
			{@ endforeach; }
		</select>
		<select id="category-selector" name="category"></select>
	</div>
	<div class="fl">
		<input type="text" id="board-title" name="title" value="{$articleData->title}" />
	</div>
</div>

{getContent('editor', 'dispFormInnerData')}
{getContent('board', 'dispEditorInnerBottomData', array('articleData' => $articleData))}

<textarea id="origin-content" style="display:none; visibility:hidden">
	{$articleData->content}
</textarea>

<script type="text/javascript">
	var categorys = [];
	{@ foreach ($boardLists as $key => $board) : }
		<condition do="$board->categorys">
			categorys[{$board->id}] = {$board->categorys};
		<else>
			categorys[{$board->id}] = null;
		</condition>
	{@ endforeach; }

	var selectedCategory = {@ echo isset($articleData->category) ? '"'.$articleData->category.'"' : 'null'};

	function selectCategory() {
		var selector = document.getElementById("category-selector");
		var boardId = document.getElementById("board-selector").value;
		var node;

		selector.innerHTML = "";

		node = document.createElement('option');
		node.value = "none";
		node.innerHTML = "카테고리 선택";

		selector.appendChild(node);

		if (categorys[boardId]) {
			for (var i=0; i<categorys[boardId].length; i++) {
				node = document.createElement('option');
				node.value = categorys[boardId][i];
				node.innerHTML =categorys[boardId][i];

				if (selectedCategory && categorys[boardId][i] == selectedCategory)
					node.selected = true;

				selector.appendChild(node);
			}
		}
	}

	selectCategory();



	window.addEventListener("load", function () {

		{@ foreach($fileDatas as $key => $file) : }
			appendFile("{getUrl()}{$file->uploaded_url}", "{$file->file_name}", {$file->file_size}, "", {$file->id});
		{@ endforeach; }

		Editor.modify({
			"content": document.getElementById("origin-content")
		});
	});
</script>