@charset "utf-8";

.article{
	width:900px;
	margin:20px 0;
}
.article .article-header{
	font-size:13px;
}
.article .ah-top{
	padding:10px 10px 5px 10px;
	border-bottom:1px dashed #AAA;
}
.article .ah-top .title{
	font-weight:bold;
	float:left;
}

.article .ah-top .title .category{
	font-size: 11px;
	color: #b0b0b0;
}

.article .ah-top .current-board{
	padding:0 10px;
	margin:0 10px;
	border-left:1px solid #CCC;
	float:left;
}
.article .ah-top .upload-time{
	font-size:11px;
	color:#888;
	padding-top:4px;
}
.article .ah-bottom{
	padding:5px 10px 10px 10px;
}
.article .ah-bottom .url{
	font-size:11px;
	color:#888;
}
.article .ah-bottom .url a:link,
.article .ah-bottom .url a:active,
.article .ah-bottom .url a:visited{ color:#888; text-decoration:none }
.article .ah-bottom .url a:hover{ color:#888; text-decoration:underline }

.article .article-content {
	padding:20px 10px 7px 10px;
}

.article-file {
	border: 1px solid #CCC;
	border-radius: 3px;
	background-color: #F7F7F7;
	padding: 3px;
	margin: 5px;
	margin-top: 20px;
}

.article-file ul{ margin: 0; padding: 0; list-style: none }
.article-file ul li{ padding: 1px 5px }

.article-file ul li .file-icon{ display: inline-block; vertical-align: middle; width: 16px; height: 16px; background-image: url(data:image/gif;base64,R0lGODlhEAAQANU9APf395GPi4aDf56dmvLy8qempOvr6+3t7Y+Mifv7++Li4v7+/ufn56Oin5COio2Kh5GPjObm5vX19fPz85mYlZybmJmXlIiFgYiFgouIhZaUkejo6Kmopq2tqquqqOTk5JuZlpKQjY6MiJWTj+/v75WTkK6uq4eEgJiWk/r6+qqpp+Pj44mGgvn5+Zual/j4+KSjoIyJhvDw8O7u7oSBffz8/KCfnIWCfvHx8bi4uOzs7PT09P///////wAAAAAAACH5BAEAAD0ALAAAAAAQABAAAAarwJ5wSCwOGwVPx9TxFBoDymho23F4WOyilgDtAsKqKsvbplquHSRsrbm5L4DEC+4NdgWAXr4j4Cg7DkIVOzA4h4cyJDMoOwhCFjs2OpSVOgYlOw9CGjsTAzahAxUWGhM7GUIhfjMHBgczrzM4BCxCIjOUARABDggPlDMnQhkbDDFkWBcMGzdCFxEfGDw51Tk8Nx8RNEMCCtPW1zcKK9xDNzcC6ug07eZG8ENBADs%3D); }

.article-file ul li a:link,
.article-file ul li a:active,
.article-file ul li a:visited{ color: #333; text-decoration: none }
.article-file ul li a:hover{ color: #333; text-decoration: underline; }


.article-buttons{ margin-top: 20px; padding: 0 3px; }
.article-buttons div{ font-size: 12px; margin:0 3px; color:#666; }
.article-buttons div#comment-label{ color: #06C; font-weight: bold }

.article-buttons div.left-bar{ border-left: 1px solid #CCC; padding-left: 4px }
.article-buttons div.right-bar{ border-right: 1px solid #CCC; padding-right: 4px }

.article-buttons a:link,
.article-buttons a:active,
.article-buttons a:visited{ color: #333; text-decoration: none }
.article-buttons a:hover{ color: #333; text-decoration: underline; }

.article-comment-wrap{
	padding: 8px 15px;
	margin-top: 10px;
	background-color: #F2F2F2;
}

.article-comment-wrap ul#comment-list{ margin: 0; padding: 0; list-style: none }
.article-comment-wrap ul#comment-list li{ padding: 7px 0 10px 0; margin: 3px 0; border-bottom: 1px dotted #CCC; }
.article-comment-wrap ul#comment-list li.comment-reply{ background: url('../img/reply.gif') 6px 7px no-repeat; padding-left: 20px }

.article-comment-wrap ul#comment-list li .comment-header{ margin-bottom: 5px }
.article-comment-wrap ul#comment-list li .comment-header .comment-update-btn,
.article-comment-wrap ul#comment-list li .comment-header .comment-delete-btn{ margin-left: 4px; padding-left: 4px; border-left: 1px solid #CCC }
.article-comment-wrap ul#comment-list li .comment-writer{ font-weight: bold; font-size: 13px; }
.article-comment-wrap ul#comment-list li .comment-write-time{ color: #999; font-size: 10px; margin: 4px 0 0 5px }
.article-comment-wrap ul#comment-list li .comment-content{ color: #666; padding-left: 1px; word-wrap: break-word; }
.article-comment-wrap ul#comment-list li .comment-content .parent-writer{ font-weight: bold; color: rgb(120, 92, 37); padding-right: 3px }
.article-comment-wrap ul#comment-list li a:link,
.article-comment-wrap ul#comment-list li a:active,
.article-comment-wrap ul#comment-list li a:visited{ text-decoration: none; color: #666 }
.article-comment-wrap ul#comment-list li a:hover{ text-decoration: underline; color: #666 }

.article-comment-wrap ul#comment-list li .modify-comment-wrap{ display: none; }

.article-comment-wrap .reply-comment-wrap{ padding-left: 15px; background: url('../img/reply.gif') 3px 5px no-repeat; padding-bottom: 5px; margin-bottom: 5px; border-bottom: 1px dotted #CCC; *zoom:1; }
.article-comment-wrap .reply-comment-wrap:after{ clear: both; display: block; content: "" }
.article-comment-wrap .reply-comment-wrap textarea{ width: 750px; height: 55px; }
.article-comment-wrap #reply-comment-wrap-ex{ display: none; }

.article-comment-wrap #write-comment-wrap textarea { width: 765px; height: 65px; }
.article-comment-wrap .modify-comment-wrap textarea { width: 765px; height: 55px; }
.article-comment-wrap .modify-comment-wrap textarea.reply{ width: 750px; }

.article-comment-wrap .comment-btn{
	width: 80px;
	height: 53px;
	margin-top: 5px;
	color: white;
	background-color: #444;
	border: 1px solid #222;
}
.article-comment-wrap .reply-comment-wrap .comment-btn,
.article-comment-wrap .modify-comment-wrap .comment-btn{ height: 43px }

.secret-comment-wrap { padding-top: 1px }
.secret-comment-wrap input{ vertical-align: middle; }
.secret-comment-wrap label{ padding-left: 2px; vertical-align: middle; }

.visible-secret-comment{ color: rgb(120, 92, 37); font-size: 11px; margin: 2px 0 4px 0; font-style: italic; }
.secret-comment{ color: #666; font-style: italic; }

.secret-icon{ display: inline-block; *zoom:1; background: transparent url('../img/board_sprite.png') no-repeat -33px 0px; width: 9px; height: 11px; }
