@charset "utf-8";

.board{ width: 900px; margin:20px 0; position: relative }
.board .pink{ color: #ec137f; font-weight: bold; }

.board .board-article ul{ border-bottom: 1px solid #e0e0e0; margin: 0; padding-left: 10px; padding-top: 8px; }
.board .board-article ul li{ list-style: none; float: left; text-align: center; font-size: 11px;  }
.board .board-article ul.first-line{ height: 22px; background-color: #eeeeee; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; }
.board .board-article ul.first-line li{ font-weight: bold; font-size: 12px; }

.board .board-article ul.first-line .select-category{ width: 90px; text-align: left; padding-left: 5px }
.board .board-article ul.first-line .select-category a{ color: #333; text-decoration: none }
.board .board-article ul.first-line .select-category .select-category-btn{ width: 12px; height: 12px; background: transparent url('../img/board_sprite.png') no-repeat 0px 0px; border: 0; padding: 0; margin: 0px 0px 0px 5px; vertical-align: middle; cursor: pointer; }

.board .board-article ul.first-line .title{ width: 485px; text-align: center; }

.board .board-article ul{ height: 20px; }
.board .board-article ul .category{ color: #b0b0b0; }
.board .board-article ul .dot-blank{ width: 10px; display: inline-block; *zoom:1; *display:inline }
.board .board-article ul .reply-blank{ width: 10px; display: inline-block; *zoom:1; *display:inline }
.board .board-article ul .reply-icon{ width: 11px; height: 9px; background: transparent url('../img/board_sprite.png') no-repeat -22px 0px; display: inline-block; *zoom:1; *display:inline }
.board .board-article ul .secret-icon{ display: inline-block; *zoom:1; background: transparent url('../img/board_sprite.png') no-repeat -33px 0px; width: 9px; height: 11px; }

.board .board-article ul.notice{ background-color: #f6f6f6; }
.board .board-article ul.notice .title{ color: #ec137f; font-weight: bold; }
.board .board-article ul.notice .notice-icon{ display: inline-block; float: left; font-size: 11px; padding: 2px 4px; margin: -2px 5px 0 0; background-color:#5269a3; border-radius: 3px; color: white; *zoom:1; }
.board .board-article ul.article strong.search{ background-color: yellow }

.board .board-article ul .title{ width: 580px; text-align: left; }
.board .board-article ul .title a:link,
.board .board-article ul .title a:visited,
.board .board-article ul .title a:active,
.board .board-article ul .title a:hover{ text-decoration:none; color:#333; }
.board .board-article ul .title i{ color: #999 }
.board .board-article ul .title span.comment-counts{ font-size: 10px; color: #5269a3 }
.board .board-article ul .title .file-icon{ display: inline-block; width: 10px; height: 10px; vertical-align: middle; background: transparent url('../img/board_sprite.png') no-repeat -12px 0; *zoom: 1; }

.board .board-article ul .writer{ width: 150px; }
.board .board-article ul .date{ width: 100px; }
.board .board-article ul .hits{ width: 60px; }

.board .board-article .no-article{ padding:30px 0; text-align:center; border-bottom:1px solid #e0e0e0; }

.board #category-selector{
	position: absolute;
	top: 25px;
	left: 20px;
	visibility: hidden;

	padding: 5px 8px;
	background-color: white;
	color: #333;
	border: 1px solid #999;
}
.board #category-selector ul{ margin: 0; padding: 0; list-style: none }
.board #category-selector ul li{ padding: 2px 0 }
.board #category-selector ul li a:link,
.board #category-selector ul li a:active,
.board #category-selector ul li a:visited{ color: #333; text-decoration: none }
.board #category-selector ul li a:hover{ color: #333; text-decoration: underline; }

.board .page-numbers{ position: relative; text-align: center; font-size: 11px; margin: 18px auto 22px auto; }
.board .page-numbers div{ display: inline-block; *zoom:1; *display:inline }
.board .page-numbers .prev-btn{ cursor: pointer; margin-right: 10px; color: #3a3a3a; }
.board .page-numbers .next-btn{ cursor: pointer; margin-left: 10px; color: #3a3a3a; }
.board .page-numbers .page-btn{ color: #868686; margin: 0px 3px; cursor: pointer; }
.board .page-numbers .page-btn a:link,
.board .page-numbers .page-btn a:visited,
.board .page-numbers .page-btn a:active	{ text-decoration:none; color:#868686; }
.board .page-numbers .page-btn a:hover{ text-decoration:underline; color:#868686; }
.board .page-numbers .current-page{ color: #ec137f; font-weight: bold; cursor:default; text-decoration: underline; }

.board .page-numbers .prev-btn a:link,		.board .page-numbers .next-btn a:link	{ text-decoration:none; color:#3a3a3a; }
.board .page-numbers .prev-btn a:visited,	.board .page-numbers .next-btn a:visited{ text-decoration:none; color:#3a3a3a; }
.board .page-numbers .prev-btn a:hover,		.board .page-numbers .next-btn a:hover	{ text-decoration:none; color:#3a3a3a; }
.board .page-numbers #prev-btn a:active,	.board .page-numbers .next-btn a:active	{ text-decoration:none; color:#3a3a3a; }

.board .board-btn{ position: absolute; right: 5px; top: 3px }
.board .board-btn a:link,
.board .board-btn a:active,
.board .board-btn a:visited{ color: #09C; text-decoration: none; }
.board .board-btn a:hover{ color: #09C; text-decoration: underline; }

.board .search-box{ text-align: center; }
.board .search-box select{ padding: 1px; }
.board .search-box .search-text{ width: 200px; }
.board .search-box .search-submit{ background-color: #09C; color: white; border: none; padding: 4px 10px; }