#board-top-container{ margin-bottom: 10px }
#board-top-container #board-selector{
	width: 130px;
	padding: 1px;
	border: 1px solid #c0c0c0;
}
#board-top-container #board-title{
	width: 752px;
	margin: 0;
	margin-left: 7px;
	padding: 2px 4px;
	border: 1px solid #c0c0c0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

#board-bottom-container{}
#board-bottom-container ul{ list-style: none; margin: 0; padding: 0 }
#board-bottom-container ul li{ margin: 0; padding: 0; margin-right: 20px }